body {
    width: 100%;
    height: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(6, 23, 30, 1);
}

.header {
    height: 81px;
    width: 100%;
    background-color: rgba(9, 33, 42, 1);
    color: white;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 700;
    line-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-content {
        width: 100%;
        max-width: 1440px;
        height: 42px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;

        h2 {
            font-size: clamp(2rem, 1.8571rem + 0.7143vw, 2.5rem);
        }
        img {
            width: 42px;
            height: 40px;
            object-fit: cover;
        }
    }
}

main {
    width: 100%;
    height: 100%;
    min-height: 90svh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(6, 23, 30, 1);

    .main-content {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: clamp(40px, calc(5.714px + 10.714vw), 160px);

        font-family: "Figtree";
        font-weight: 800;

        h1 {
            font-size: clamp(2.625rem, 2.375rem + 1.25vw, 3.5rem);
            padding-bottom: clamp(56px, calc(49.143px + 2.143vw), 80px);
            text-align: center;
        }
    }
}

.main-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    gap: 16px;
    .box {
        object-fit: cover;
        border: 2px solid rgba(18, 70, 88, 1);
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 150px;
            height: 150px;
            border-radius: 16px;
            object-fit: cover;
        }
    }
    button:hover {
        border: 2px solid rgba(107, 193, 225, 1);
        cursor: pointer;
    }
    margin-bottom: clamp(45px, calc(12.143px + 10.268vw), 160px);
}

dialog {
    transition: all 200ms ease-in-out;
    transform: translateX(0px) translateY(0px);
}

dialog.opened {
    border: 2px solid black;
    border-radius: 40px;
    color: white;
    width: 95%;
    max-width: 700px;
    /* height: 800px; */

    padding: clamp(1.25rem, calc(0.714rem + 2.679vw), 3.125rem)
        clamp(0.625rem, calc(-0.089rem + 3.571vw), 3.125rem);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(9, 33, 42, 1);
    gap: clamp(1rem, calc(0.429rem + 2.857vw), 3rem);

    transition: all 300ms ease-in-out;
    margin: auto;

    .dialog-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 32px;

        font-family: "Figtree";
        font-style: bold;
        font-weight: 700;
        line-height: 100%;

        h2 {
            font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
            width: 100%;
            height: fit-content;
        }
        .closeBtn {
            width: 32px;
            height: 32px;
            object-fit: cover;
            background-color: rgba(9, 33, 42, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            img {
                width: 13px;
                height: 13px;
                border: none;
            }
        }
        .closeBtn:hover {
            background-color: rgba(18, 70, 88, 1);
            cursor: pointer;
        }
    }
    .content-dialog {
        width: fit-content;
        max-width: 600px;
        height: 450px;
        img {
            width: 95%;
            max-width: 580px;
            max-height: 600px;
            height: 100%;

            border-radius: 40px;
            object-fit: contain;
            border: 3px solid black;
        }
    }
    .dialog-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .content-footer {
            display: flex;
            width: 261px;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                background-color: rgba(253, 91, 79, 0.1);
                border-radius: 50%;
                border: none;
                width: 60px;
                height: 60px;
                img {
                    width: 22px;
                    height: 19px;
                    object-fit: cover;
                }
            }
            button:hover {
                background-color: rgba(253, 91, 79, 0.2);
                cursor: pointer;
            }
            p {
                font-family: "Figtree";
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                font-size: 1rem;
            }
        }
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.footer {
    height: 128px;
    width: 100%;
    bottom: 0;

    background-color: rgba(9, 33, 42, 1);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    clip-path: Ellipse(90% 100% at 50% 100%);

    .footer-content {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .da-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 16px;
            font-size: 1rem;
            img {
                width: fit-content;
            }
        }
        p {
            font-size: 0.823rem;
            font-family: "Figtree";
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            color: rgba(153, 172, 179, 1);
            text-decoration: none;
        }
        p:hover {
            text-decoration: underline;
            color: white;
        }
    }
}

@media screen and (max-width: 1440px) {
    .main-content {
        padding: 0 16px;
    }
    .header-content {
        padding: 0 16px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        .header-content {
            display: flex;
            justify-content: center;
        }
    }
    dialog.opened {
        .dialog-header {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: flex-end;
            height: 42px;
            h2 {
                text-align: left;
                position: absolute;
                left: 0;
                bottom: 0;
                height: fit-content;
            }
        }
    }
}
